<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>

		<property name="hibernate.connection.datasource">java:/comp/env/jdbc/testDB</property>
<!-- 		<property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property> -->
<!-- 		<property name="hibernate.connection.url">jdbc:sqlserver://localhost:1433;DatabaseName=gss</property> -->
<!-- 		<property name="hibernate.connection.username">sa</property> -->
<!-- 		<property name="hibernate.connection.password">P@ssw0rd</property>       -->
<!-- 		<property name="hibernate.connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property> -->
<!-- 		<property name="hibernate.c3p0.min_size">5</property> -->
<!-- 		<property name="hibernate.c3p0.max_size">20</property> -->
<!-- 		<property name="hibernate.c3p0.timeout">1800</property> -->
<!-- 		<property name="hibernate.c3p0.max_statements">50</property> -->


		<!--SQL方言,以下使用SQLServer -->
		<property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property>

		<!--是否要顯示實際操作資料庫時的SQL -->
		<property name="hibernate.show_sql">true</property>

		<!-- Disable the second-level cache -->
		<property name="hibernate.cache.provider_class">org.hibernate.cache.NoCacheProvider</property>

		<!--交易管理類型, 以下使用JDBC Transaction -->
		<property name="hibernate.transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property>

		<!-- Enable Hibernate's automatic session context management -->
		<property name="hibernate.current_session_context_class">thread</property>


		<!-- validate | update | create | create-drop 如果沒要用 set value="none". -->
		<!-- validate 程式執行驗證資料對應表相關資料。 update 如果table已存在，就更新，不存在則新增 create 每次執行就自動刪除所有對應的table，再新增所有對應的table 
			create-drop 新增所有對應的table , 程式關閉前刪除所有對應的table -->
<!-- 		<mapping class="model.hiber"></mapping> -->
	</session-factory>
</hibernate-configuration>